<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Stores Tab -->
  <ion-tab title="Stores" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/stores">
    <ion-nav-view name="tab-stores"></ion-nav-view>
  </ion-tab>

  <!-- Logs Tab -->
  <ion-tab title="Logs" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/logs">
    <ion-nav-view name="tab-logs"></ion-nav-view>
  </ion-tab>

</ion-tabs>
